* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffc400fa;
  font-family: "Fredoka", sans-serif;
}

.navColor {
  background-color: #fcfc65;
}

.contenido {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "contenido contenido contenido" "footer footer footer";
  gap: 2rem;
  background-color: #fcfc9e;
  border-radius: 2rem;
  margin: 1rem;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.contenidoIndex {
  grid-area: contenido;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
  border-radius: 2rem;
  padding: 1.5rem;
}

.contenidoIndex p {
  text-align: justify;
}

.contenidoIndex .img {
  height: 30rem;
  border-radius: 2rem;
}

.contenidoIndex-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  border-radius: 2rem;
  margin-right: 1.5rem;
}

.contenidoProductos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.contenidoProductos h1 {
  text-align: center;
  padding: 2rem;
}

.contenedorCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
}

.card {
  width: 15rem;
  background-color: #fcfc9e;
  border: none;
}

.card h3 {
  text-align: center;
}

.card img {
  width: 15rem;
  border-radius: 100%;
  padding: 0.5rem;
}

.contenidoEsp {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  line-height: 1.5;
  display: block;
  text-align: justify;
}

.cardEsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.cardEsp img {
  height: 20rem;
  border-radius: 2rem;
}

.contenidoNosotros {
  grid-area: contenido;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
  border-radius: 2rem;
  padding: 1.5rem;
}

.contenidoNosotros p {
  text-align: justify;
}

.contenidoNosotros .img {
  height: 30rem;
  border-radius: 2rem;
}

.contenidoNosotros-texto {
  margin-left: 1.5rem;
}

.contenidoContacto {
  margin: 2rem;
  font-family: "Fredoka", sans-serif;
  line-height: 1.5;
}

.footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #fcfc65;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.footer li {
  font-weight: bold;
}

.footerDerechos {
  text-align: center;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .contenidoIndex {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .contenedor {
    margin: 0.5rem;
  }
  .img {
    height: 13rem;
  }
  .contenedorCards {
    display: block;
  }
  .cardEsp {
    display: block;
  }
  .cardEsp img {
    height: 15rem;
  }
}
/*# sourceMappingURL=estilo.css.map */