* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffc400fa;
  font-family: "Fredoka", sans-serif;
}

.navColor {
  background-color: #fcfc65;
}

.contenido {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "contenido contenido contenido" "footer footer footer";
  gap: 2rem;
  background-color: #fcfc9e;
  border-radius: 2rem;
  margin: 1rem;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.contenidoIndex {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
  border-radius: 2rem;
  padding: 1.5rem;
}

.contenidoIndex p {
  text-align: justify;
}

.contenidoIndex .img {
  height: 20rem;
  border-radius: 2rem;
}

.contenidoIndex-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  border-radius: 2rem;
  margin-right: 1.5rem;
}

.contenidoProductos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.contenidoProductos h1 {
  text-align: center;
  padding: 2rem;
}

.contenedorCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
}

.card {
  width: 15rem;
  background-color: #fcfc9e;
  border: none;
  text-decoration: none;
  color: black;
}

.card h3 {
  text-align: center;
}

.card img {
  width: 15rem;
  border-radius: 100%;
  padding: 0.5rem;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
  color: black;
}

.contenidoEsp {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  line-height: 1.5;
  display: block;
}

.cardEsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardEsp img {
  height: 20rem;
  border-radius: 2rem;
}

.cardProducto {
  border: 1px solid #ffc400fa;
  border-radius: 20px;
  text-align: center;
  width: 18%;
  cursor: pointer;
}

.cardProducto img {
  width: 80%;
  height: 80%;
  margin-top: 1rem;
  border-radius: 1rem;
}

.contenidoNosotros {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
  border-radius: 2rem;
  padding: 1.5rem;
}

.contenidoNosotros p {
  text-align: justify;
}

.contenidoNosotros .img {
  height: 20rem;
  border-radius: 2rem;
}

.contenidoNosotros-texto {
  margin-left: 1.5rem;
}

.contenidoContacto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  margin: 2rem;
  font-family: "Fredoka", sans-serif;
  line-height: 1.5;
}

.contacto {
  text-align: center;
}

.form {
  background-color: #ffc400fa;
  border-radius: 1rem;
  text-align: center;
}

.formulario {
  padding: 1.5rem;
}

.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
}

.contenidoCarrito {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  padding: 3rem;
}

.item-carrito {
  padding: 1rem;
}

.btn-carrito {
  border-color: black;
  border-radius: 10px;
  margin-left: 1rem;
}

.btn-carrito:hover {
  background-color: #ffc400fa;
}

.footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #fcfc65;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.footer li {
  font-weight: bold;
}

.footer li a {
  color: black;
  text-decoration: none;
}

.footer li a:hover {
  color: #ffc400fa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footerDerechos {
  text-align: center;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .contenidoIndex {
    display: block;
  }
  .contenidoNosotros {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .contenido {
    margin: 0.5rem;
  }
  .contenidoIndex {
    display: block;
  }
  .contenidoIndex .img {
    height: 15rem;
    border-radius: 2rem;
  }
  .contenedorCards {
    display: block;
  }
  .cardEsp {
    display: block;
  }
  .cardEsp img {
    height: 15rem;
  }
  .contenidoNosotros {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: contenido;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.5;
    border-radius: 2rem;
    padding: 1.5rem;
  }
  .contenidoNosotros p {
    text-align: justify;
  }
  .contenidoNosotros .img {
    height: 15rem;
    border-radius: 2rem;
  }
  .form {
    margin: 0.5rem;
  }
}
/*# sourceMappingURL=estilo.css.map */