
.footer {
  grid-area: footer;
  background-color: $amarillofuerte;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  animation-duration: 2s;
  animation-name: aparecer;
  li{
    font-weight: bold;
    }  
}

.footer li a {
  color: black;
  text-decoration: none;
}

.footer li a:hover {
  color: #ffc400fa;
  transition: 0.5s;
}

.footerDerechos {
  text-align: center;
}
