@mixin negrita {
  font-weight: bold;
}

.footer {
  grid-area: footer;
  background-color: $amarillofuerte;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  animation-duration: 2s;
  animation-name: aparecer;
  li{
    @include negrita;
  }
 
}

.footerDerechos {
  text-align: center;
}
