@media screen and (max-width: 1024px) {
  .contenidoIndex {
    display: block;
  }
  .contenidoNosotros {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .contenido {
    margin: 0.5rem;
  }
  .contenidoIndex {
    display: block;
  }
  .contenidoIndex .img {
    height: 15rem;
    border-radius: 2rem;
  }

  .contenedorCards {
    display: block;
  }
  .cardEsp {
    display: block;
  }
  .cardEsp img {
    height: 15rem;
  }
  .contenidoNosotros {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: contenido;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 1.5;
    border-radius: 2rem;
    padding: 1.5rem;
  }
  .contenidoNosotros p {
    text-align: justify;
  }
  .contenidoNosotros .img {
    height: 15rem;
    border-radius: 2rem;
  }
  .form {
    margin: 0.5rem;
  }
}
