@media screen and (max-width: 1024px) {
  .contenidoIndex {
    display: block;
  }
  .contenidoNosotros {
    display: block;
    @include contenido1;
  }
}

@media screen and (max-width: 768px) {
  .contenido {
    margin: 0.5rem;
  }
  .contenidoIndex {
    display: block;
  }
  .contenedorCards {
    display: block;
  }
  .cardEsp {
    display: block;
  }
  .cardEsp img {
    height: 15rem;
  }
  .contenidoNosotros {
    display: block;
  }
}
