* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffc400fa;
  font-family: "Fredoka", sans-serif;
}

.container-fluid {
  border-radius: 2rem;
}
.navColor {
  background-color: rgb(252, 252, 101);
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "contenido contenido contenido"
    "footer footer footer";
  gap: 2rem;
  background-color: rgb(252, 252, 158);
  border-radius: 2rem;
  margin: 1rem;
  animation-duration: 5s;
  animation-name: aparecer;
}
.contenidoIndex {
  grid-area: contenido;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  border-radius: 2rem;
  font-family: "Fredoka", sans-serif;
  padding: 1.5rem;
}

.contenidoIndex-texto {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  border-radius: 2rem;
  font-family: "Fredoka", sans-serif;
  margin-right: 1.5rem;
  text-align: justify;
}

.img {
  height: 30rem;
  border-radius: 2rem;
}

.contenidoProductos {
  grid-area: contenido;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  font-family: "Fredoka", sans-serif;
  padding: 1rem;
  margin: 1rem;
}

.contenidoProductos h2 {
  text-align: center;
  padding: 2rem;
}

.contenedorCards {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
  border-radius: red solid;
}

.card {
  width: 15rem;
  background-color: rgb(252, 252, 158);
}

.card h3 {
  text-align: center;
}

.card img {
  width: 15rem;
  border-radius: 100%;
  padding: 0.5rem;
}

.contenidoContacto {
  margin: 2rem;
  font-family: "Fredoka", sans-serif;
  line-height: 1.5;
}
.contenidoEsp {
  grid-area: contenido;
  font-family: "Fredoka", sans-serif;
  line-height: 1.5;
  display: block;
  text-align: justify;
}
.cardEsp {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.cardEsp img {
  height: 20rem;
  border-radius: 2rem;
}
.contenidoNosotros-texto {
  margin-left: 1.5rem;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  font-family: "Fredoka", sans-serif;
  background-color: rgb(252, 252, 101);
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  list-style-type: none;
  animation-duration: 2s;
  animation-name: aparecer;
}

.footerDerechos {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .contenidoIndex {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .contenedor {
    margin: 0.5rem;
  }
  .encabezado {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
  }
  .img {
    height: 13rem;
  }
  .contenedorCards {
    display: block;
  }
  .cardEsp {
    display: block;
  }
  .cardEsp img {
    height: 15rem;
  }
}
